.container {
  background-color: rebeccapurple;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  height: 91vh;
  overflow: auto;
}

.formContainer label,
.formContainer input,
.formContainer select,
.formContainer textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.form button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
}
